.isotope, .isotope .isotope-item {
transition-duration : 0.8s;
}
.isotope {
transition-property : height, width;
}
.isotope .isotope-item {
overflow : visible;
transition-property : transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
transition-duration : 0s;
}
.isotope.infinite-scrolling {
transition : none;
}
.isotope-box {
margin-left : -15px;
margin-right : -15px;
}
.thumbnails {
padding-left : 0;
}
.element {
float : left;
height : auto !important ;
display : block;
position : relative;
border : none;
margin : 0 !important ;
box-sizing : border-box;
margin-bottom : 30px !important ;
}
.gutter-sizer {
width : 0;
}
#options {
margin-bottom : 15px;
text-align : center;
line-height : 1px;
margin-top : 20px;
}
#filters {
position : relative;
margin : 0;
line-height : 1px;
}
#filters li {
display : inline-block;
padding : 0 5px;
}
#filters li a {
background : none;
border : none;
font-family : 'Roboto Condensed';
font-size : 12px;
font-weight : 700;
color : #b9b9b9;
margin : 0;
text-decoration : none;
padding : 10px 20px;
border-radius : 0;
text-transform : uppercase;
letter-spacing : 1px;
line-height : 20px;
transition : all 0.3s ease-out;
}
#filters li a:hover {
color : #fff;
background : #1b1b1b;
}
#filters.pagination li a.selected {
color : #fff;
background : #1b1b1b;
}
.thumb-isotope .thumbnail {
padding : 0;
border : none;
border-radius : 0;
box-shadow : none;
margin-bottom : 0;
background : none;
}
.thumb-isotope .thumbnail a {
position : relative;
display : block;
text-decoration : none;
padding : 0;
background : none;
border : none;
border-radius : 0;
transition : all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover {
background : none;
}
.thumb-isotope .thumbnail a figure {
position : relative;
margin : 0;
float : none;
margin : 0 0 0 0;
padding : 0;
background : #474747;
border : none;
border-radius : 0;
transition : all 0.3s ease-out;
}
.thumb-isotope .thumbnail a img {
width : 100%;
border-radius : 0;
opacity : 1;
transition : all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover img {
opacity : 0.20000000298023223876953125;
}
.thumb-isotope .thumbnail a em {
position : absolute;
width : 100%;
height : 100%;
left : 0;
top : 0;
z-index : 2;
background : none;
opacity : 0;
transition : all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover em {
opacity : 1;
}
.thumb-isotope .thumbnail a .caption {
display : block;
color : #fff;
text-align : center;
text-transform : uppercase;
position : absolute;
left : 0;
top : 50%;
margin-top : -25px;
width : 100%;
opacity : 0;
transition : all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover .caption {
opacity : 1;
}
.thumb-isotope .thumbnail a .caption .txt1 {
font-family : 'Roboto Condensed';
font-size : 22px;
font-weight : bold;
letter-spacing : 1px;
}
.thumb-isotope .thumbnail a .caption .txt2 {
font-size : 14px;
}