/*
Jordan Peluard - Creator
*/

/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

/* Toutes pages ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:black}
::-moz-selection{ background:#888888!important; color:black}

a{color:#6e767c; text-decoration: none; outline:none}
a:hover{ color:#6e767c; text-decoration: none; outline:none}

body{ background:#fff; border:0; font: 16px 'Source Sans Pro', Arial, Helvetica, sans-serif; color:#7d7d7d ; line-height:1.625; min-width:320px;}

body.page-tours{background: #f8f8f8;}
body.page-blog{background: #f8f8f8;}
body.page-post{background: #f8f8f8;}

.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

.animated {visibility: hidden;}

.visible {visibility: visible;}
.centered{text-align:center;}
input:focus, textarea:focus{
	border: #008080!important;
}
textarea{resize:none;}
textarea:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(0, 128, 128, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 128, 0.6);
  outline: 0 none;
}
input::-webkit-input-placeholder{
	color: black!important;
}
input:-moz-placeholder { 
	color: black!important;
}
input::-moz-placeholder {
	color: black!important;
}
input:-ms-input-placeholder {
	color: black!important;
}
textarea::-webkit-input-placeholder{
	color: black!important;
}
textarea:-moz-placeholder { 
	color: black!important;
}
textarea::-moz-placeholder {
	color: black!important;
}
textarea:-ms-input-placeholder {
	color: black!important;
}
.embed-container iframe{
    width: 100%;
}
/* ============================= header ====================== */
.logo{
	 width:60%;
}
#panier{
	background-color: transparent;
	color: #008080;
	margin-left: 50px;
	border-bottom: none;
}
#panier span{
	display: none;
	visibility: hidden;
}
#actif, #actif:hover{
	background-color: transparent;
	color: #008080; 
}
#hover:hover{
	background-color: transparent;
	color: #008080;
}
@media screen and (max-width: 768px) {
	#panier {
		margin-left: 0px;
	}
	#panier span{
		display: block;
		visibility: visible;
	}
}
#top1{width: 100%; position: relative; left: 0; top: 0; /*z-index: 99;*/ min-width: 320px; margin-bottom: -100px;}

#top2-sticky-wrapper{transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}

.sticky-wrapper.is-sticky {}

#top2{position: relative; z-index: 40;}

.top2_wrapper{background: #fff; background: rgba(255, 255, 255, 0.85);
	transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.is-sticky .top2_wrapper{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); background: #fff;}



.top2{position: relative;}

header{position: absolute; left: 0; top: 50%; margin-top: -30px; z-index: 50;}



/* ============================= content ====================== */
#content{position: relative; padding-top: 50px; padding-bottom: 50px;}

.breadcrumbs1_wrapper{position: relative; margin-top: 0px; padding-bottom: 0px;}
.breadcrumbs1{padding: 10px 0px; margin-top: 0px; font-weight: 700; line-height: 20px; color: #13e7ff;font-size: 14px; text-transform: uppercase;}
.breadcrumbs1 a{color: #373837; text-decoration: none;}
.breadcrumbs1 a:hover{color: #373837;}
.breadcrumbs1 span{display: inline-block; color: #373837; margin: 0 4px;}


/* ============================= say ====================== */
#say_wrapper{ position: relative; padding-top: 0px; padding-bottom: 0px; background: #383838;}
#say_inner{}
#say{position: relative;padding-top: 0px; padding-bottom: 0px;}

.say_prev{display: block; width: 44px; height: 44px; position: absolute; left: 50%; margin-left: -570px; top: 50%; margin-top: -22px; z-index: 10;}
.say_prev span{display: block; width: 44px; height: 44px; background: url(../images/prev2.png) left top no-repeat; position: absolute; left: 0; top: 0;}
.say_prev span:hover{background-position: bottom;}

.say_next{display: block; width: 44px; height: 44px; position: absolute; right: 50%; margin-right: -570px; top: 50%; margin-top: -22px; z-index: 10;}
.say_next span{display: block; width: 44px; height: 44px; background: url(../images/next2.png) left top no-repeat; position: absolute; left: 0; top: 0;}
.say_next span:hover{background-position: bottom;}

#say .carousel-box{position: relative;}
#say .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#say .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: 0px; }
#say .caroufredsel_wrapper{padding: 0; margin: 0;}
#say .caroufredsel_wrapper > ul{padding: 0; margin: 0;}
#say .carousel-box .caroufredsel_wrapper > ul > li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:0px }

.say{}
.say .say_left{float: left; width: 50%;}
.say .say_left_inner{width: 400px; position: absolute; left: 50%; margin-left: -420px; top: 50%; margin-top: -130px;}
.say .say_right{float: right; width: 50%;}
.say .say_right img {width: 100%;}
.say .say_left .txt1{font-family: 'Source Sans Pro'; font-weight: 400; font-size: 12px; color: #c0c0c0; line-height: 1.1; text-transform: uppercase; padding-bottom: 15px; min-height: 16px; padding-left: 30px; background: url(../images/m3.png) 0 0 no-repeat; padding-top: 2px;}
.say .say_left .txt2{font-family: 'Roboto Condensed'; font-weight: 700; font-size: 22px; color: #fff; line-height: 1.1; text-transform: uppercase; padding-bottom: 15px; letter-spacing: 1px;}
.say .say_left .txt3{font-family: 'Source Sans Pro'; font-weight: 400; font-size: 14px; color: #c0c0c0; line-height: 1.4; padding-top: 15px; padding-bottom: 25px;}

/* ============================= say end ====================== */

#about{position: relative; padding-top: 60px; padding-bottom: 70px;}

#google_map{position: relative; width: 100%; height: 425px;}

#tours2{position: relative; padding-top: 35px; padding-bottom: 50px;}
.tours_sidebar{background: #fff; padding: 20px; margin-bottom: 30px;}
.tours_content{margin-bottom: 30px;}
.tours_content_top{padding-bottom: 30px;}
.tours_content_top .left{float: left;}
.tours_content_top .right{float: right; padding-top: 7px;}
.tours_content_top .view_txt{display: inline-block; vertical-align: top; padding-top: 5px;}

.tour2{background: #fff; margin-bottom: 30px;}
.tour2 figure{float: left;}
.tour2 .caption{overflow: hidden; padding: 20px 30px 5px 30px;}
.tour2 .caption .left{float: left; width: 70%;}
.tour2 .caption .right {float: right; text-align: right;}
.tour2 .caption .txt1{font-size: 12px; color: #bebebe; font-weight: bold;}
.tour2 .caption .txt2{font-family: 'Roboto Condensed'; font-size: 18px; color: #222222; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; padding-top: 5px; padding-bottom: 5px;}
.tour2 .caption .txt3{font-size: 14px; color: #bebebe;}
.tour2 .caption .txt3 .stars{min-width: 100px; display: inline-block;}
.tour2 .caption .txt3 .stars img{margin-right: 4px;}
.tour2 .caption .txt4{font-size: 14px; color: #bebebe; padding-top: 10px;}
.tour2 .caption .txt5{font-size: 14px; color: #222222; font-family: 'Roboto Condensed'; text-transform: uppercase; letter-spacing: 1px;}
.tour2 .caption .txt6{font-size: 24px; color: #13e7ff; font-weight: 700; font-family: 'Roboto Condensed'; text-transform: uppercase; letter-spacing: 1px;}
.tour2 .caption .txt7{padding-top: 40px;}

.pager_wrapper{padding-top: 10px; margin-bottom: 30px;}
.pager{display: block; text-align: center; margin: 0;padding: 0; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 12px; text-transform: uppercase;}
.pager li{}
.pager li > a{border: none; padding: 0px 2px; border-radius: 0px; background: none; color: #bebebe; text-align: center; min-width: 40px; line-height: 40px; text-decoration: none;}
.pager li > a:hover{text-decoration: underline; background: none;}
.pager li.active > a{background: #13e7ff; color: #fff; cursor: default; text-decoration: none;}
.pager .prev{}
.pager .prev > a{float: left; background: #13e7ff; color: #fff; letter-spacing: 1px; padding: 0 15px;}
.pager .prev > a:hover{background: #13e7ff;}
.pager .next{}
.pager .next > a{float: right; background: #13e7ff; color: #fff; letter-spacing: 1px; padding: 0 15px;}
.pager .next > a:hover{background: #13e7ff;}

.pager2_wrapper{padding-top: 10px; margin-bottom: 30px;}
.pager2_wrapper .pager{display: block; text-align: center; margin: 0;padding: 0; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 12px; text-transform: uppercase;}
.pager2_wrapper .pager li{}
.pager2_wrapper .pager li > a{border: none; padding: 0px 2px; border-radius: 0px; background: none; color: #bebebe; text-align: center; min-width: 40px; line-height: 40px; text-decoration: none;}
.pager2_wrapper .pager li > a:hover{text-decoration: underline; background: none;}
.pager2_wrapper .pager li.active > a{background: #383838; color: #fff; cursor: default; text-decoration: none;}
.pager2_wrapper .pager .prev{}
.pager2_wrapper .pager .prev > a{float: left; background: #383838; color: #fff; letter-spacing: 1px; padding: 0 15px;}
.pager2_wrapper .pager .prev > a:hover{background: #383838;}
.pager2_wrapper .pager .next{}
.pager2_wrapper .pager .next > a{float: right; background: #383838; color: #fff; letter-spacing: 1px; padding: 0 15px;}
.pager2_wrapper .pager .next > a:hover{background: #383838;}

.pager3_wrapper{padding-top: 10px; margin-bottom: 30px;}
.pager3_wrapper .pager{display: block; text-align: center; margin: 0;padding: 0; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 12px; text-transform: uppercase;}
.pager3_wrapper .pager li{float: left; margin-left: -1px;}
.pager3_wrapper .pager li > a{border: 1px solid #e2e8eb; padding: 0px 2px; border-radius: 0px; background: #fff; color: #909da5; text-align: center; min-width: 35px; line-height: 33px; text-decoration: none; font-size: 15px; text-align: center;}
.pager3_wrapper .pager li > a i{font-size: 14px;}
.pager3_wrapper .pager li > a:hover{text-decoration: underline; background: #fff;}
.pager3_wrapper .pager li.active > a{text-decoration: none; background: #13e7ff; color: #fff;}


.blog_sidebar{margin-bottom: 30px;}
.blog_content{margin-bottom: 30px;}

.users{padding: 0; margin: 0; list-style: none;}
.users li{display: block; float: left; padding: 0 1px 2px 0;}
.users li a{display: block;text-decoration: none;}
.users li a figure{position: relative;}
.users li a figure img{position: relative;}
.users li a figure em{position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 2px solid #13e7ff; opacity: 0; filter:alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.users li a:hover figure em{opacity: 1; filter:alpha(opacity=100);}

.tags2{ display: block; margin: 0; padding: 0; list-style: none; text-align: left;}
.tags2 li{display: inline-block; margin: 0 5px 5px 0px; float: left;}
.tags2 li a{ display: inline-block; background: none; padding: 5px 15px; font-size: 17px; font-weight: 400; color: #000000; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-decoration: none; border: 1px solid #13e7ff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.tags2 li a:hover{background: #13e7ff; color: #fff; border-color: #13e7ff;}

.tabs2{padding: 0; background: none; border-radius: 0; border: none; font-family: inherit;}

.tabs2_tabs{text-align: center;}
.tabs2_tabs .ui-tabs-nav{padding: 0; display: block; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 15px; line-height: 20px; border: none; border-radius: 0; background: none;}
.tabs2_tabs .ui-tabs-nav li{margin: 0!important; border: none; background: none; font-weight: 700; width: 50%;}
.tabs2_tabs .ui-tabs-nav li.ui-tabs-active{margin: 0;padding: 0;}
.tabs2_tabs .ui-tabs-nav .ui-tabs-anchor{color: #9aa7af; padding: 15px 2px; background: #e7ebed; float: none; display: block;}
.tabs2_tabs .ui-tabs-nav .ui-tabs-anchor:focus{outline: none;}
.tabs2_tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{ background: #13e7ff; color: #fff;}


.tabs2_content{padding: 20px;}
.tabs2_content .ui-tabs-panel{padding: 0px;}


/* ============================= blog ====================== */
.post-short{margin-bottom: 30px;}
.post-short .post-header{position: relative;}

.post-short .post-header .post-image{position: relative;}
.post-short .post-header .post-image a{display: block;text-decoration: none;}
.post-short .post-header .post-image a img{position: relative; width: 100%;}

.post-short .post-header .post-slide{position: relative;}

.post-short .post-header .post-video{position: relative; padding-bottom: 56%;}
.post-short .post-header .post-video iframe{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}

.post-short .post-story{padding: 20px; background: #eff5f7; border: 1px solid #e5ecef;}
.post-short .post-story:hover{background: #383838; border-color: #383838;}
.post-short .post-story:hover h2{color: #fff;}
.post-short .post-story .by{color: #a5b1b9; padding-bottom: 15px;}
.post-short .post-story:hover .by{color: #cccccc;}
.post-short .post-story .by a{color: #a5b1b9;}
.post-short .post-story:hover .by a{color: #cccccc;}
.post-short .post-story .by span{padding: 0 7px;}

.post-short .post-story .additional{padding: 7px 0; border-top: 1px solid #e5ecef; border-bottom: 1px solid #e5ecef; line-height: 20px; color: #13e7ff;}
.post-short .post-story:hover .additional{border-color: #4a4a4b;}
.post-short .post-story .additional a{color: #13e7ff; text-decoration: none;}
.post-short .post-story .additional i{color: #9aa7af; padding-right: 10px; font-size: 18px;}
.post-short .post-story .additional .ncom{display: inline; padding-right: 20px; white-space: nowrap;}
.post-short .post-story .additional .cat{display: inline; white-space: nowrap;}

.post-short .post-story .post-story-body{padding-bottom: 10px; color: #a4b1ba; padding-top: 10px;}
.post-short .post-story:hover .post-story-body{color: #cccccc;}

.post-short .post-story .post-story-link{}
/* ============================= blog end ====================== */
/* ============================= post ====================== */
.post-full{margin-bottom: 30px;}
.post-full .post-header{position: relative;}
.post-full .post-header .post-slide{position: relative;}
.post-full .post-story{}
.post-full .post-story .additional{padding: 7px 0; border-top: 1px solid #e5ecef; border-bottom: 1px solid #e5ecef; line-height: 20px; color: #13e7ff;}
.post-full .post-story .additional a{color: #13e7ff; text-decoration: none;}
.post-full .post-story .additional i{color: #9aa7af; padding-right: 10px; font-size: 17px;}
.post-full .post-story .additional > div{display: inline; padding-right: 20px; white-space: nowrap;}
.post-full .post-story .additional .cat{white-space: normal; padding-right: 0;}
.post-full .post-story .post-story-body{padding-bottom: 10px; color: #a4b1ba; padding-top: 10px;}

.share_post{text-align: right; line-height: 40px; padding-bottom: 30px;}
.share_post .txt1{display: inline-block; font-family: 'Roboto Condensed',sans-serif; font-size: 20px; font-weight: bold; color: #2f383d; vertical-align: top; padding-right: 20px;}

.social2_wrapper{display: inline-block; vertical-align: top;}
.social2{ display: block; margin: 0; padding: 0px 0; list-style: none;}
.social2 li{display: inline-block; margin: 0 0 0 10px;float: left;}
.social2 li:first-child{margin-left: 0;}
.social2 li a{display: block; text-decoration: none; font-size: 18px; color: #6d7a83; line-height: 35px; text-align: center; border: 1px solid #d9dddf; width: 37px; height: 37px; text-align: center; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
	transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social2 li a:hover{color: #fff; background: #13e7ff; border-color: #13e7ff;}

.author-block{background: #f9f9f9; border: 1px solid #ecf1f2; border-left: 5px solid #13e7ff; padding: 20px; margin-bottom: 70px;}
.author-block figure{float: left; margin-right: 20px;}
.author-block figure img{border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.author-block .caption{overflow: hidden;}
.author-block .caption .txt1{font-family: 'Roboto Condensed',sans-serif; font-weight: 700; font-size: 19px; color: #2f383d; padding-bottom: 0px;}
.author-block .caption .txt2{font-size: 16px; color: #9aa7af;padding-bottom: 10px;}
.author-block .caption .txt3{font-size: 16px; color: #9aa7af; border-top: 2px solid #eaeaea; padding-top: 10px;}

.num-comments{border-bottom: 1px solid #e4ebed; border-top: 5px solid #e7eaec; padding: 15px 0; margin-bottom: 35px;}
.num-comments .left{float: left; font-family: 'Roboto Condensed',sans-serif; font-size: 24px; font-weight: bold; color: #2f383d; padding-bottom: 5px;}
.num-comments .right{float: right; color: #13e7ff; padding-top: 5px;}
.num-comments .right a{color: #13e7ff;}
.num-comments .right i{font-size: 24px; padding-right: 15px; vertical-align: top; padding-top: 3px;}

.comment-block{margin-bottom: 25px; border-bottom: 1px solid #ededed; padding-bottom: 15px;}
.comment-block.left1{margin-left: 117px;}
.comment-block figure{float: left; margin-right: 20px;}
.comment-block figure img{}
.comment-block .caption{overflow: hidden;}
.comment-block .caption .top{padding-bottom: 15px;}
.comment-block .caption .top .txt1{font-family: 'Roboto Condensed',sans-serif; font-weight: 700; font-size: 18px; color: #13e7ff; float: left;}
.comment-block .caption .top .txt1 a{color: #13e7ff;}
.comment-block .caption .top .txt2{float: right; font-size: 15px; color: #a4b1ba;}
.comment-block .caption .top .txt2 a{color: #13e7ff;}
.comment-block .caption .txt3{color: #9aa7af;}

.live-comment{}
.live-comment .live-comment-title{ padding: 15px 0; margin-bottom: 25px; font-family: 'Roboto Condensed',sans-serif;font-size: 24px; color: #2f383d; font-weight: 700; border-bottom: 1px solid #e4ebed;}

.prev_next{padding: 20px 0 20px; margin: 50px 0 0; list-style: none; border-top: 1px solid #e4ebed;}
.prev_next li{display: block;}
.prev_next .prev{float: left;}
.prev_next .next{float: right;}
.prev_next a{ display: block; padding: 0px; line-height: 30px; color: #6d7a83; font-family: 'Roboto Condensed',sans-serif; font-size: 18px; text-decoration: none; font-weight: 700;}
.prev_next a i{font-size: 28px; vertical-align: top;}
.prev_next a:hover{color: #13e7ff; text-decoration: none;}

/* ============================= home ====================== */
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height: 769px;
}
@media (min-width: 992px){
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height: 830px!important;
	}
}
@media (max-width: 991px){
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height: 591px!important;
	}
}
.hotelhistorique{
	background-color: #1f1c1b;
	padding: 20px 0;
	position: absolute; z-index: 1;
	height: 70px;
	width: 100%;
}
.hotelhistorique h2{
	color: white;
	margin-left: 50px;
}
.search.select1_inner:before,.search.select1_inner:after{
	background:none;
	display: none;
}
.ui-widget input{
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	padding-left: 30px;
	color: #1f1c1b;
	outline: none;
}
.scrolloff {
	pointer-events: none;
}
.maps iframe{
	pointer-events: none;
	margin-bottom: -7px!important;
}
.divwhite{background-color: white;}
.row.divwhite{margin-top: 70px;}
#home{position: relative;}
.descriptionhotelhome p{padding-top: 12px;color: black;margin-left:50px;margin-right: 40px!important;padding-right: 50px;margin: 20px 10px;}
.descriptionhotelhome h1{color: #008080;}
.descriptionhotelhome{margin-left: 50px;margin-right: -50px;}
@media (max-width: 767px){
	.descriptionhotelhome{
		margin-right: 30px; 
	}
}
.presentationhotelhome{padding-top: 12px;color: black;margin-left:50px;margin-right:-50px;padding-right: 50px;}
.presentationhotelhome p{margin-top:50px;width: 80%;}
@media (max-width: 767px){
	.presentationhotelhome{
		margin-right: 30px; 
	}
}
@media (min-width: 992px) and (max-width: 1166px){
	.carousel{height: 767px;}
}
@media (min-width: 1167px){
	.carousel{height: 769px;}
}
@media (max-width: 767px){
	.carousel{height: 500px;}
}
.slider_tabs{position: absolute; left: 0; bottom: 0; width: 100%;}

.tabs1{padding: 0; background: none; border-radius: 0; border: none; font-family: inherit;}

.tabs1_tabs{text-align: center;}
.tabs1_tabs .ui-tabs-nav{padding: 0; display: inline-block; vertical-align: top; font-family: 'Roboto Condensed',sans-serif; font-weight: 700; font-size: 14px; line-height: 20px; text-transform: uppercase; border: none; border-radius: 0; background: none;}
.tabs1_tabs .ui-tabs-nav li{margin: 0 0 0 1px!important; border: none; background: none; font-weight: 700;}
.tabs1_tabs .ui-tabs-nav li.ui-tabs-active{margin: 0;padding: 0;}
.tabs1_tabs .ui-tabs-nav .ui-tabs-anchor{color: #1f1c1b; padding: 15px 30px; background: white; background: rgba(255, 255, 255, 0.7); float: none; display: block;}
.tabs1_tabs .ui-tabs-nav .ui-tabs-anchor:focus{outline: none;}
.tabs1_tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{ background: #008080; background: rgba(0,128,128 0.7); color: white;}


.tabs1_content{background: rgba(255, 255, 255, 0.7); padding: 60px 0 70px;}
.tabs1_content .ui-tabs-panel{padding: 0px;}

.form1 label{font-family: 'Roboto Condensed',sans-serif; font-size: 14px; color: #1f1c1b; line-height: 1; padding-bottom: 35px; display: block; font-weight: 400; margin-bottom: 0; white-space: nowrap;}

.select1_inner{position: relative; background: none; border-bottom: 1px solid #a1a1a1; height: 36px; position: relative;}
.select1_inner:before{content: ''; display: block; width: 12px; height: 15px; background: url(../images/m1.png) 0 0 no-repeat; position: absolute; left: 0; top: 2px;}
.select1_inner.select2_inner:before{display: none;}
.select1_inner:after{content: ''; display: block; width: 8px; height: 4px; background: url(../images/a1.png) 0 0 no-repeat; position: absolute; right: 0; top: 10px;}

.select2{width: 100%;}
.select2 *:focus{outline: none!important;}

.select2-container--default .select2-results > .select2-results__options{max-height: 500px;}
.select2-container--default .select2-selection--single{background: none;border-radius: 0; border: none; height: auto;}
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size: 14px; line-height: 20px; padding: 0 0 15px 20px; color: black;}
.select2_inner .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left: 0;color: #1f1c1b;}
.select2-container--default .select2-selection--single .select2-selection__arrow{display: none;}
.select2-dropdown{background: none;border-radius: 0; z-index: 10; min-width: 80px;}
.select2-container--open .select2-dropdown--below{border: none;}
.select2-results__option{padding: 0  5px 0 20px; background: #acadad; background: rgba(172, 173, 173, 0.6); text-transform: uppercase; font-size: 12px; line-height: 20px; color: #000;}
.small .select2-results__option {
	padding-left: 0;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: #000; color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: #000; color: #fff;}
.ui-datepicker{font-size: 14px;}

.input1_inner{position: relative; background: none; border-bottom: 1px solid #a1a1a1; height: 36px; position: relative;}
.input1_inner:before{content: ''; display: block; width: 16px; height: 16px; background: url(../images/m2.png) 0 0 no-repeat; position: absolute; left: 0; top: 0px;}
.input1_inner:after{content: ''; display: block; width: 8px; height: 4px; background: url(../images/a1.png) 0 0 no-repeat; position: absolute; right: 0; top: 10px;}
.input1_inner input{padding: 0 0 15px 25px; height: 35px; border: none; background: none; color: black; font-size: 14px; line-height: 20px; font-family: inherit; display: block; width: 100%;}
.input1_inner input:focus{outline: none;}

.btn-form1-submit{border: none; font-family: 'Roboto Condensed',sans-serif!important; font-size: 14px!important; font-weight: bold; padding: 15px 10px; background: #008080; line-height: 20px; text-transform: uppercase; text-align: center; width: 100%; margin-top: 30px;color: white;}
.btn-form1-submit:hover{background: white; color: #008080;}
.btn-form1-submit:focus{outline: none;}
.btn-form1-submit i{font-size: 20px; line-height: 20px; padding-right: 10px;}
/* Form home */
.backcontact{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 35px 0;
}
.contacttext h1{
	color: #008080;
	margin-top: -5px;
}
.contacttext p{
	color: black;
}
.contacttext button.btn.btn-default{
	color: white;
	width: 100%;
	background-color: #008080;
	border-radius: 0px;
	font-size: 20px;
}
.backcontact input, .backcontact textarea{
	color: black;
	border: 1px solid black;
	border-radius: 0px;
}
.backcontact textarea{
	height: 200px;
}
/* ============================= footer ====================== */

.bot1{background: #1b1b1b; padding-top: 30px; padding-bottom: 20px; color: #b9b9b9; font-size: 13px;}

.bot1_title{font-family: 'Roboto Condensed', sans-serif; font-size: 16px; font-weight: bold; color: #fff; padding-top: 20px; padding-bottom: 15px;}

.bot2{position: relative; background: #141414; padding: 30px 0; color: #777777; font-family: 'Roboto Condensed', sans-serif;}

.copy{float: right; font-size: 12px; letter-spacing: 1px;}

.menu_bot{padding: 0; margin: 0; list-style: none; float: left; font-size: 13px; text-transform: uppercase;}
.menu_bot li{display: inline-block; float: left;padding-left: 35px;}
.menu_bot li:first-child{padding-left: 0;}
.menu_bot li a{color: #fff ; text-decoration: none;}
.menu_bot li a:hover{color: #13e7ff;}

#lastfooter{background-color:black;color: white;height: 30px;margin-top: 30px;}
#lastfooter a{color: white;text-decoration: none;}
#lastfooter a:hover{color: #008080;}
footer{
	background-color: #1f1c1b;
}
footer .foot-header{
	margin-top: 30px;
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: 10px;
	font-size: 20px;
}
footer .foot-links li a{
	color: #ffffff!important;
}
footer .foot-links li a:hover{
	color:#008080!important;
}
footer ul{
	margin-left: -20px;
}
footer li{
	color: white;
}
footer .navbar-form {
	overflow: auto;
	margin-left: -13px;
}
footer .navbar-form .form-control {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
}
footer .navbar-form .form-group {
	display: inline;
}
footer .input-group-btn:last-child > .btn{
	background-color: #008080;
	border:#008080;
	border-radius: 0px;
}
footer .input-group-btn:last-child > .btn:hover{
	background-color: #2d2928;
	border:#2d2928;
}
footer .input-group-btn:last-child > .btn:focus{
	background-color: #1f1c1b;
	border:#1f1c1b;
}
footer .btn-default:hover{
	color: #008080;
}
footer input{
	color: black;
	width: 320px;
}
@media (min-width: 992px) and (max-width: 1199px){
	footer input{
		width: 254px;
	}
}
@media (min-width: 668px) and (max-width: 991px){
	footer input{
		width: 181px;
	}
}
@media (max-width: 667px){
	footer input{
		width: 100%;
	}
}
/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none; padding-top: 90px; padding-bottom: 90px; }
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}

.bg1 { background-image: url(../images/parallax1.jpg); }

.bg2 { background-image: url(../images/parallax2.jpg); }

.bg3 { background-image: url(../images/parallax3.jpg); }

.bg4 { background-image: url(../images/parallax4.jpg); }

#parallax1{padding-top: 80px; padding-bottom: 70px;}

#parallax2{padding-top: 240px; padding-bottom: 140px;}

#parallax2 .txt1{text-align: center; font-family: 'Roboto Condensed',sans-serif; font-weight: bold; font-size: 38px; color: #fff; text-transform: uppercase; letter-spacing: 3px;}

#parallax2 .txt2{text-align: center; font-family: 'Roboto Condensed',sans-serif; font-weight: 400; font-size: 16px; color: #fff; text-transform: uppercase; letter-spacing: 2px;}

#parallax2 .txt2 strong{font-size: 22px;}
/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: right; padding-top: 35px;
	padding-bottom: 35px;}
	.navbar_ .navbar-toggle { background: #008080; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 34px; margin-bottom: 34px; margin-right: 5px;}
	.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #17b9cb;}
	.navbar_ .navbar-toggle .icon-bar{background: #fff;}
	.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
	.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
	.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; background: none; margin-left: 1px;}
	.navbar_ .nav > li:first-child{margin-left: 0;}
	.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Roboto Condensed',sans-serif; font-weight: 700; font-size: 12px; line-height: 20px; color: #000; text-shadow:none; padding: 5px 15px; border: none; margin: 0; text-align: center; position: relative; z-index: 2; text-transform: uppercase;cursor: pointer;
	transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.navbar_ .nav > li > a em{padding-left: 5px; margin-right: -10px;}

.navbar_ .nav > li > a:focus{color: #000; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: none;}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #008080; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}


.navbar_ .nav > li > a{
	border-bottom: 2px solid transparent;
}
.navbar_ .nav > li > a:hover{
	border-bottom: 2px solid #008080;
}

.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;border-bottom: 2px solid #008080; }

.sub-menu ul{ position: absolute; display: none; left: 0; top: 100%; list-style: none; zoom: 1; z-index: 1; margin: 0; padding:0; background: #fff; text-align: left; border: none; margin-top: 1px;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block;}
.sub-menu li:first-child{}
.sub-menu li a{display: block; position: relative; font-family:'Source Sans Pro',sans-serif; font-weight: 400; font-size: 12px; line-height: 20px; color: #1f1c1b; text-decoration: none; padding: 7px 30px 7px 20px; background: none; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.sub-menu ul{
	border-top: 2px solid transparent;
	margin-top: 20px;
}
.sub-menu ul{
	border-top: 2px solid #008080;
}
.sub-menu li a:hover{text-decoration: none; color: white; background: #008080;}
.sub-menu-1 > ul{}
.sub-menu-2 > ul{left: 100%; margin-left: 1px; background: #fff;}

/* ============================= search-form ====================== */
.search-form-wrapper{position: relative;}
.search-form-wrapper .form-control{border: 1px solid #dfe7ea; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; padding-top: 9px; padding-bottom: 9px; height: 40px; color: #cecece; font-size: 16px;}
.search-form-wrapper .form-control:focus{box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-color: #13e7ff;}
.search-form-wrapper a{position: absolute; right: 0; top: 0; text-align: center; width: 40px; line-height: 40px; color: #aaaaaa;}
.search-form-wrapper a:hover{color: #000;}
.search-form-wrapper a i{font-size: 20px; line-height: 40px;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }


h2{display: block; font-family:'Roboto Condensed',sans-serif; font-weight:700; font-size:24px; color:#2f383d; line-height:1.1; padding:0px 0 5px 0; margin: 0;}

h3{display: block; font-family:'Roboto Condensed',sans-serif; font-weight:700; font-size:28px; color:#2f383d; line-height:1.1; padding:35px 0 20px 0; margin: 0;}

.img-responsive-old{display: block; max-width: 100%; height: auto;}

.img-responsive{width: auto \9;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar_ .nav > li > a{padding-left: 5px; padding-right: 5px;}
	.navbar_ .nav > li > a em{margin-right: 0;}
}
@media (max-width: 767px) {
	.navbar_ {float: none; height: 100px; margin-bottom: 0; padding-top: 0; padding-bottom: 0; }
	.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
	.navbar_ .nav{display: block; background: none; border-right: none;background: #fff; border: none;}
	.navbar_ .nav > li{float: none;background: none; border-left: none; margin-left: 0; border-top:1px solid #a1b1bc; background: none;}
	.navbar_ .nav > li > a{margin-bottom: 0; padding-top: 15px!important; padding-bottom: 15px!important; border: none;}
	.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}
	.sub-menu ul{position: relative; left: 0; top: 0;}
	.slider_tabs{margin-top: 0px;}
	.tabs1_tabs .ui-tabs-nav{display: block; margin-left: -15px; margin-right: -15px;}
	.tabs1_tabs .ui-tabs-nav li{margin-left: 0!important;display: block;float: none; margin-bottom: 1px!important;}
	.tabs1_content{padding-top: 20px; padding-bottom: 20px;}
	.form1 label{padding-bottom: 15px;}
	.btn-form1-submit{margin-top: 0;}
	.menu_bot{float: none;}
	.copy{float: none; padding-top: 15px;}
}
@media (max-width: 991px) {
  .select1_wrapper, .input1_wrapper{margin-bottom: 30px;}
  .slider_tabs{position: relative; bottom: auto; margin-top: -50px;}
  .tour1{width: 50%;}
  .tours_content_top .left{float: none;}
  .tours_content_top .right{float: none; padding-top: 15px;}
}